<div class="col-sm-12 col-md-8">
	<h2><a href="/{{ id }}">{{ title }}</a></h2>
	<p> Rating: {{{reviewRating}}} </p>
	<p> Poster: {{{poster}}} </p>
	<div id="flagged">
	<img src="flagged.jpg"
	</div>
</div>