<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>binJ</title>
    <link rel="stylesheet" href="/public/css/main.css">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<body>
	<article id="sidebar">
		<img src="/public/images/binjLogo.png" alt="binj" width="100" height="300">
	</article>
    <main class="container">
		<h1 id="the-heading">Stop watching, start BinJing!</h1>
		{{{body}}}
	</main>
</body>
</html>