<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>binJ</title>
    <link rel="stylesheet" href="/public/css/main.css">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<div id="login-bar">
		<form id="login-form" method="post">
			<label for="username">username</label>
			<input type="text" name="username" id="username">
			<label for="password">password</label>
			<input type="password" name="password" id="password">
			<button type="submit">Sign In</button>
		</form>
	</div>
	<article id="sidebar">
		<a href="/shows"><img src="/public/images/binjLogo.png" alt="binj" width="100" height="300"></a>
	</article>
    <main class="container">
		{{{body}}}
	</main>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
	<script src="/public/js/formAJAX.js"></script>
</body>
</html>