<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BinJ</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <main class="container">
		<h1 id="the-heading">BinJ</h1>
        {{{body}}}
    </main>
</body>
</html>