<h1 id="the-heading">Stop watching, start BinJing!</h1>
<a href="/users/login"> Login </a>
<div class="row">
    <div class="shows-list">
        {{#each shows}}
        {{> show }}
        {{/each}}
    </div>
</div>
