html {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: darkorange;
	padding: 0px;
}

main {
	height: 100%;
	min-height: 800px;
	float:left;
	background-color: antiquewhite;
	width: 1000px;
	margin: 0px;
	padding:10px;
}
.newcomment h2{
	padding: 0;
	margin: 0;
}

.shows-list {
	width: 210px;
}

.review-box {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	position: static;
	padding: 10px;
	display: inline;
}

.review-body {
	width: inherit;
	height: fit-content;
	padding: 0;
	margin: 0;
	display: inline-block;
	white-space: nowrap;
}

.counter {
	display: inline-block;
	white-space: nowrap;
}

.flagged {
	display: inline-block;
	white-space: nowrap;	
}

.show-art {
	display: inline-block;
	height: inherit;
}

#title {

}

#sidebar {
	width: 100px;
	left:0;
	float:left;
	margin: 0px;
	padding:0px;
}
