<section id="login-section">
    <h1>Log In</h1>
    <div id="login-error">{{ error }}</div>
    <form action="/users/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />

        <input type="submit" id="submit" />
    </form>
</section>
